<mat-toolbar color="primary" class="toolbar">
  <span class="toolbar-title" routerLink="/">Game Of Thrones</span>
  <span class="spacer"></span>
  <button mat-icon-button routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-icon-button routerLink="/books">
    <mat-icon>menu_book</mat-icon>
    Books
  </button>
  <button mat-icon-button routerLink="/houses">
    <mat-icon>home_work</mat-icon>
    Houses
  </button>
  <button mat-icon-button routerLink="/characters">
    <mat-icon>people</mat-icon>
    Characters
  </button>
</mat-toolbar>

<router-outlet></router-outlet>