<div *ngIf="book">
  <h2>{{ book.name }}</h2>
  <ul>
    <li><strong>ISBN:</strong> {{ book.isbn }}</li>
    <li><strong>Authors:</strong> {{ book.authors.join(', ') }}</li>
    <li><strong>Number of Pages:</strong> {{ book.numberOfPages }}</li>
    <li><strong>Publisher:</strong> {{ book.publisher }}</li>
    <li><strong>Country:</strong> {{ book.country }}</li>
    <li><strong>Media Type:</strong> {{ book.mediaType }}</li>
    <li><strong>Released:</strong> {{ book.released }}</li>
  </ul>
  <h3><strong>Characters</strong></h3>
  <ul>
    <ng-container *ngFor="let characterUrl of book.characters">
      <li *ngIf="characters[characterUrl]" (click)="goToCharactersDetailsPage(characterUrl)">
        {{ characters[characterUrl].name }}
      </li>
    </ng-container>
  </ul>
  <div class="pagination">
    <button [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
    <span>{{ currentPage }}</span> / <span>{{ totalPages }}</span>
    <button [disabled]="currentPage * pageSize >= book.characters.length" (click)="nextPage()">Next</button>
  </div>

  <h3><strong>POV Characters</strong></h3>
  <ul>
    <ng-container *ngFor="let characterUrl of book.povCharacters">
      <li *ngIf="povCharacters[characterUrl]" (click)="goToCharactersDetailsPage(characterUrl)">
        {{ povCharacters[characterUrl].name }}
      </li>
    </ng-container>
  </ul>
  <div class="pagination">
    <button [disabled]="povCurrentPage === 1" (click)="povPreviousPage()">Previous</button>
    <span>{{ povCurrentPage }}</span> / <span>{{ povTotalPages }}</span>
    <button [disabled]="povCurrentPage  === povTotalPages" (click)="povNextPage()">Next</button>
  </div>
</div>
<div *ngIf="!book">
  <p>No book details available</p>
</div>
