<div *ngIf="house">
    <h2>{{ house.name }}</h2>
    <ul>
      <li>Region: {{ house.region }}</li>
      <li>Coat of Arms: {{ house.coatOfArms }}</li>
      <li>Words: {{ house.words }}</li>
      <li>Titles: {{ house.titles.join(', ') }}</li>
      <li>Seats: {{ house.seats.join(', ') }}</li>
      <li>Current Lord: {{ currentLord }}</li>
      <li>Heir: {{ heir }}</li>
      <li>Overlord: {{ overlord }}</li>
      <li>Founded: {{ house.founded }}</li>
      <li>Founder: {{ founder }}</li>
      <li>Died Out: {{ house.diedOut }}</li>
      <li>Ancestral Weapons: {{ house.ancestralWeapons.join(', ') }}</li>
    </ul>
    <h3>Cadet Branches</h3>
    <ul>
      <ng-container *ngFor="let houseUrl of house.cadetBranches">
        <li *ngIf="cadetBranches[houseUrl]" (click)="goToHouseDetailsPage(houseUrl)">
          {{ cadetBranches[houseUrl].name }}
        </li>
      </ng-container>
    </ul>
    
    <h3>Sworn Members</h3>
    <ul>
      <ng-container *ngFor="let characterUrl of house.swornMembers">
        <li *ngIf="swornMembers[characterUrl]" (click)="goToCharactersDetailsPage(characterUrl)">
          {{ swornMembers[characterUrl].name }}
        </li>
      </ng-container>
    </ul>
    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
      <span>{{ currentPage }}</span> / <span>{{ totalPages }}</span>
      <button [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>
    </div>
  </div>
  <div *ngIf="!house">
    <p>No house details available</p>
  </div>
  